html {
    width: 90vw;
    margin: 0;
}
body {
    height: 100%;
    margin: 0;
}
#content{
    display: flex;
    justify-content: center;
    gap:10px;
    height: 100%;
}
#menu{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:15px;
    
}
#data{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.button{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid;
    border-color: black; 
    
}

.button:hover, .selected{
    background-color: black;
    color: white;
    cursor: pointer;
}

.card{
    padding: 20px;
    width: 400px;
    border-radius: 5px;
    border: 2px solid;
    border-color: black; 
}
img{
    max-width: 30px;
    height: auto;
}